@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  @apply no-scrollbar;
}
.scroll-container::-webkit-scrollbar-thumb {
  height: 30px; /* small scrollbar thumb */
}
